#projects_div {
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
  width: 70%;
}

#projects {
  color: white;
}

#add_new_project {
  width: 69%;
  padding: 1% 3% 3% 3%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.input_project {
  border: 1px solid black;
  height: 40px;
  border-radius: 15px 0 0 15px;
}

.input_name-btn {
  border: 1px solid black;
  width: 35px;
  height: 43px;
  border-radius: 0 15px 15px 0;
}

button:focus {
  outline: none;
}

.input_name-btn:hover {
  background-color: darkolivegreen;
  color: white;
  transform: scale(1.1);
}